{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="profile-view">
        <div id="sidebar">
            <div id="friends-count" style="display: none;">
                Friends {{ friends }}
            </div>
        </div>
        <div id="profile-pic"  class="profile-elm"></div>
        <span hidden id="user-id">{{ user.id }}</span>
        <h2 id="user-hdr">{{ user.username }}</h2>
        <button type="button" id="profile-edit" class="btn btn-primary">Edit Profile</button>
        <div id="user-fullname">
            <h5>{{ user.first_name|add:" "|add:user.last_name }}</h5>
        </div>
        <div id="status-view">
            <div class="list-group">
            {% for status in statuses %}
                <a href="{% url 'status_view' status.id %}" id="status-{{ status.id }}" class="list-group-item list-group-item-action">
                    <span>{{ status.user }}</span>
                    <span>{{ status.body }}</span>
                    <span>{{ status.timestamp }}</span>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
    <div id="profile-editor">
        <form id="profile-edit-form">
            {% csrf_token %}
            <div class="form-group">
                <input id="field-user" class="form-control" autofocus type="text" name="username" placeholder="{{ user.username }}">
            </div>
            <div class="form-group">
                <input id="field-first" class="form-control" autofocus type="text" name="firstName" placeholder="{{ user.first_name }}">
            </div>
            <div class="form-group">
                <input id="field-last" class="form-control" autofocus type="text" name="lastName" placeholder="{{ user.last_name }}">
            </div>
            <div class="form-group">
                <input id="field-email" class="form-control" type="email" name="email" placeholder="{{ user.email }}">
            </div>
            <div class="form-group">
                <span class="form-info">Joined {{ user.date_joined }}</span>
            </div>
            <button type="submit" id="profile-update" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div id="friends-view">
        <div id="user-username">{{ user.username }}</div>
        <div id="friend-list-group" class="list-group"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}